    
<div class="flex-row justify-center">
    <div class="card login-signup">
        <div class="card-header"><h1>Log In</h1></div>
            <div class="card-body flex-column align-center">
                <form class="login-form">
                    <div>
                        <label for="email-login" class="form-label">email:</label>
                        <input type="text" id="email-login" class="form-input"/>
                    </div>
                    <div>
                        <label for="password-login" class="form-label">password:</label>
                        <input type="password" id="password-login" class="form-input"/>
                    </div>
                    <div>
                        <button type="submit" class="btn">Log In</button>
                    </div>
                </form>
            </div>
    </div>{{!--end card--}}
    <div class="card login-signup">
        <div class="card-header"><h1>Sign Up</h1></div>
            <div class="card-body flex-column align-center">
                <form class="signup-form">
                    <div>
                        <label for="username-signup" class="form-label">username:</label>
                        <input type="text" id="username-signup" class="form-input"/>
                    </div>
                    <div>
                        <label for="email-signup" class="form-label">email:</label>
                        <input type="text" id="email-signup" class="form-input"/>
                    </div>
                    <div>
                        <label for="password-signup" class="form-label">password:</label>
                        <input type="password" id="password-signup" class="form-input"/>
                    </div>
                    <div>
                        <button type="submit" class="btn">Sign Up</button>
                    </div>
                </form>
            </div>
    </div>{{!--end card--}}
</div>{{!--end flex-row--}}








<script src="/javascript/login.js"></script>
