<form class="new-post-form">
    <div>
        <label for="new-title" class="form-label">Post title:</label>
        <input id="new-title" type="text" class="form-input">
    </div>
    <div>
        <label for="new-content" class="form-label">Edit content:</label>
        <textarea name="new-content" id="new-content" class=" content-textarea"></textarea>
    </div>
    <div class="flex-row justify-space-around">
        <button id="new-post-btn" type="submit" class="btn save-btn">Save Post</button>
        <button id="cancel-btn" type="cancel" class="btn cancel-btn">Cancel</button>
    </div>
</form>








<script src="/javascript/new-post.js"></script>